# 数据库配置
SQLALCHEMY_DATABASE_URL=sqlite:///./data-example.sqlite3?mode=rwc

# 配置 超级管理员账户信息
SUPER_ADMIN_USERNAME="admin"
SUPER_ADMIN_PASSWORD="admin"
SUPER_ADMIN_PHONE="11111111111"

# JWT 配置
JWT_SALT="09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
JWT_EXP=2592000
JWT_ALGORITHM="HS256"
